<div id="termsAndConditions" class="content">
    <div class="shadow-lg p-4 rounded">
        <h2 class="text-success text-center">Welcome to Businesshike.in</h2>
        <p>These terms of service outline the rules and regulations for the use of <strong class="text-success">Businesshike.in's</strong> Website.</p>
        <p>Businesshike.in is located at:</p>
        <address>Surat <br>- Gujarat , India</address>
    
        <p class="text-justified">
            By accessing this website we assume you accept these terms of service in full. Do not continue to use
            <strong class="text-success">Businesshike.in's</strong> website if you do not accept all of the terms of service stated on this page.
        </p>
        <p class="text-justified">
            The following terminology applies to these Terms of Service, Privacy Statement and Disclaimer Notice and
            any or all Agreements: "Client", "You" and "Your" refers to you, the person accessing this website
            and accepting the Company's terms of service. "The Company", "Ourselves", "We", "Our" and "Us", refers
            to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves, or either the Client
            or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake
            the process of our assistance to the Client in the most appropriate manner, whether by formal meetings
            of a fixed duration, or any other means, for the express purpose of meeting the Client's needs in respect
            of provision of the Company's stated services/products, in accordance with and subject to, prevailing law
            of India. Any use of the above terminology or other words in the singular, plural,
            capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.
        </p>
    
        <h2 class="text-success">Cookies</h2>
        <p class="text-justified">
            We employ the use of cookies. By using Businesshike.in's website you consent to the use of cookies
            in accordance with Businesshike.in's privacy policy.
        </p>
        <p class="text-justified">
            Most of the modern day interactive web sites
            use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site
            to enable the functionality of this area and ease of use for those people visiting. Some of our
            affiliate / advertising partners may also use cookies.
        </p>
    
        <h2 class="text-success">User Comments</h2>
        <ol>
            <li>This Agreement shall begin on the date hereof.</li>
            <li>
                Certain parts of this website offer the opportunity for users to post and exchange opinions, information,
                material and data ('Comments') in areas of the website. Businesshike.in does not screen, edit, publish
                or review Comments prior to their appearance on the website and Comments do not reflect the views or
                opinions of Businesshike.in, its agents or affiliates. Comments reflect the view and opinion of the
                person who posts such view or opinion. To the extent permitted by applicable laws Businesshike.in shall
                not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused
                and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this
                website.
            </li>
            <li>
                Businesshike.in reserves the right to monitor all Comments and to remove any Comments which it considers
                in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms of Service.
            </li>
            <li>You warrant and represent that:
                <ol>
                    <li>You are entitled to post the Comments on our website and have all necessary licenses and consents to
                        do so;
                    </li>
                    <li>
                        The Comments do not infringe any intellectual property right, including without limitation
                        copyright,
                        patent or trademark, or other proprietary right of any third party;
                    </li>
                    <li>
                        The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful
                        material
                        or material which is an invasion of privacy
                    </li>
                    <li>
                        The Comments will not be used to solicit or promote business or custom or present commercial
                        activities or unlawful activity.
                    </li>
                </ol>
            </li>
            <li>
                You hereby grant to <strong class="text-success">Businesshike.in</strong> a non-exclusive royalty-free license to use, reproduce,
                edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats
                or media.
            </li>
        </ol>
        <h2 class="text-success">Hyperlinking to our Content</h2>
        <ol>
            <li>The following organizations may link to our Web site without prior written approval:
                <ol>
                    <li>Government agencies;</li>
                    <li>Search engines;</li>
                    <li>News organizations;</li>
                    <li>
                        Online directory distributors when they list us in the directory may link to our Web site in the
                        same manner as they hyperlink to the Web sites of other listed businesses; and
                    </li>
                    <li>
                        Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls,
                        and charity fundraising groups which may not hyperlink to our Web site.
                    </li>
                </ol>
            </li>
        </ol>
        <ol start="2">
            <li>
                These organizations may link to our home page, to publications or to other Web site information so long
                as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or
                approval of the linking party and its products or services; and (c) fits within the context of the linking
                party's site.
            </li>
            <li>
                We may consider and approve in our sole discretion other link requests from the following types of organizations:
                <ol>
                    <li>
                        commonly-known consumer and/or business information sources such as Chambers of Commerce, American
                        Automobile Association, AARP and Consumers Union;
                    </li>
                    <li>dot.com community sites;</li>
                    <li>associations or other groups representing charities, including charity giving sites,</li>
                    <li>online directory distributors;</li>
                    <li>internet portals;</li>
                    <li>accounting, law and consulting firms whose primary clients are businesses; and</li>
                    <li>educational institutions and trade associations.</li>
                </ol>
            </li>
        </ol>
        <p class="text-justified">
            We will approve link requests from these organizations if we determine that: (a) the link would not reflect
            unfavorably on us or our accredited businesses (for example, trade associations or other organizations
            representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed
            to link); (b)the organization does not have an unsatisfactory record with us; (c) the benefit to us from
            the visibility associated with the hyperlink outweighs the absence of Businesshike.in; and (d) where the
            link is in the context of general resource information or is otherwise consistent with editorial content
            in a newsletter or similar product furthering the mission of the organization.
        </p>
    
        <p class="text-justified">
            These organizations may link to our home page, to publications or to other Web site information so long as
            the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval
            of the linking party and it products or services; and (c) fits within the context of the linking party's
            site.
        </p>
    
        <p class="text-justified">
            If you are among the organizations listed in paragraph 2 above and are interested in linking to our website,
            you must notify us by sending an e-mail to <a href="mailto:b12.sharmasonu@gmail.com"
                title="send an email to b12.sharmasonu@gmail.com">b12.sharmasonu@gmail.com</a>.
            Please include your name, your organization name, contact information (such as a phone number and/or e-mail
            address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site,
            and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.
        </p>
    
        <p>Approved organizations may hyperlink to our Web site as follows:</p>
    
        <ol>
            <li>By use of our corporate name; or</li>
            <li>By use of the uniform resource locator (Web address) being linked to; or</li>
            <li>
                By use of any other description of our Web site or material being linked to that makes sense within the
                context and format of content on the linking party's site.
            </li>
        </ol>
        <p class="text-justified">No use of Businesshike.in's logo or other artwork will be allowed for linking absent a trademark license agreement.</p>
        <h2 class="text-success">Iframes</h2>
        <p class="text-justified">
            Without prior approval and express written permission, you may not create frames around our Web pages or
            use other techniques that alter in any way the visual presentation or appearance of our Web site.
        </p>
        <h2 class="text-success">Content Liability</h2>
        <p class="text-justified">
            We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
            and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any
            page on your Web site or within any context containing content or materials that may be interpreted as
            libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or
            other violation of, any third party rights.
        </p>
        <h2 class="text-success">Reservation of Rights</h2>
        <p class="text-justified">
            We reserve the right at any time and in its sole discretion to request that you remove all links or any
            particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also
            reserve the right to amend these terms of service and its linking policy at any time. By continuing
            to link to our Web site, you agree to be bound to and abide by these linking terms of service.
        </p>
        <h2 class="text-success">Removal of links from our website</h2>
        <p class="text-justified">
            If you find any link on our Web site or any linked web site objectionable for any reason, you may contact
            us about this. We will consider requests to remove links but will have no obligation to do so or to respond
            directly to you.
        </p>
        <p class="text-justified">
            Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness
            or accuracy; nor do we commit to ensuring that the website remains available or that the material on the
            website is kept up to date.
        </p>
        <h2 class="text-success">Disclaimer</h2>
        <p class="text-justified">
            To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions
            relating to our website and the use of this website (including, without limitation, any warranties implied by
            law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).
            Nothing in this disclaimer will:
        </p>
        <ol>
            <li>limit or exclude our or your liability for death or personal injury resulting from negligence;</li>
            <li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
            <li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
            <li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
        </ol>
        <p class="text-justified">
            The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a)
            are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or
            in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort
            (including negligence) and for breach of statutory duty.
        </p>
        <p class="text-justified">
            To the extent that the website and the information and services on the website are provided free of charge,
            we will not be liable for any loss or damage of any nature.
        </p>
        <h2 class="text-success">Credit &amp; Contact Information</h2>
        <p class="text-justified">
            This Terms of service page was created at <a style="color:inherit;text-decoration:none;cursor:text;"
                href="https://privacyterms.io/terms-conditions-generator/">privacyterms.io terms &amp; conditions
                generator</a>. If you have any queries regarding any of our terms, please contact us.
        </p>
        <h2 class="text-success">E-COMMERCE</h2>
        <p class="text-justified">
            <strong class="text-success">Businesshike.in</strong> is a platform For Business to Business (B TO B) who can buy 
            or sell there product with just three click from anyplace in India with multiple choices on same goods.
        </p>
        <h2 class="text-success">Limited liability</h2>
        <p class="text-justified">
            <strong class="text-success">Businesshike.in</strong> will be liable to pay 50% of the amount which was bad debts and it will be reimbursed in six equal instalments.
        </p>
        <p class="text-justified">
            <strong class="text-success">Businesshike.in</strong> is a selling platform were any seller can sell there product with proper product documents and certificates. Being a selling platform we will provide details invoice containing seller information. <strong class="text-success">Businesshike.in</strong> will taking care of wrong product delivery. If in case our customers reported for any wrong product delivery within 7 days of time limit. Within given period of time the goods return charges will be free for our customers but if it is Beyond the time limit certain charges will be applicable to the customers. If any quality issues with the product while purchasing or any clam regarding issues <strong class="text-success">Businesshike.in</strong> will not be responsible for the same but as a company will take certain action against defaulters.
        </p>
        <h2 class="text-success">Delivery</h2>
        <p class="text-justified">
            <strong class="text-success">Businesshike.in</strong> promised the delivery of goods with in 3-5 days If its within India and 12-15 days if it’s non-Indian product.
        </p>
        <h2 class="text-success">Commission</h2>
        <p class="text-justified">
            <strong class="text-success">Businesshike.in</strong> charge minimal amount for using the platform for selling there product which differs product to product.
        </p>
        <h2 class="text-success">Advertisement</h2>
        <p class="text-justified">
            For Advertising the product or to be on top in product search list there is a minimal charges which is decided by <strong class="text-success">Businesshike.in</strong>
        </p>
        <h2 class="text-success">Credit system</h2>
        <p class="text-justified">
            Credit option is for 7 days, 15 days, 30 days, and 45 days. Buyers need to upload there business ITR file of minimum 3 years 
            on basis of that credit amount will be decided by <strong class="text-success">Businesshike.in</strong> and with in that limit  credit amount buyers can buy the 
            product and not be able to buy above credit limits in credit system. (cash on delivery don’t have any limits).
            The price of product may differ in every increasing credit period.
        </p>
        <h2 class="text-success">Interest</h2>
        <p class="text-justified">
            Interest will be applicable to buyers if non payments of bill with in due date. Interest rate will be pre decided by <strong class="text-success">Businesshike.in</strong>
        </p>
        <h2 class="text-success">Legal action</h2>
        <p class="text-justified">
            <strong class="text-success">Businesshike.in</strong> will able to take Legal action against the buyers for the non payment of due bills with in given time period.
        </p>
        <h2 class="text-success">Goods return</h2>
        <p class="text-justified">
            Free return in terms of bad experience with product will be acceptable within 7 days of product delivery date after that charges will be applicable which decided by <strong class="text-success">Businesshike.in</strong>
        </p>
        <h2 class="text-success">Account suspension</h2>
        <p class="text-justified">
            Account suspension is a tool of <strong class="text-success">Businesshike.in</strong> platform to maintain safe and secure business for all users. This tool came in existence when any users (Buyers and Seller) are working out of legal frame as per the government guidelines. Any activity which may found suspicious by <strong class="text-success">Businesshike.in</strong> the Account suspension will be imposed which is minimum 5 days to lifetime suspension from <strong class="text-success">Businesshike.in</strong> platform.
        </p>
        <h2 class="text-success">Penalties</h2>
        <p class="text-justified">
            Penalties is an applicable to all users in case of hampering <strong class="text-success">Businesshike.in</strong> image in market. There are certain conditions were this chargers applicable like Any goods return in case of wrong delivery or low quality as promised to the customer, Delay in product delivery dates or if any users returning the product after 7 days of product delivered date then some charges will be applicable which pre decided by <strong class="text-success">Businesshike.in</strong>
        </p>
    </div>
</div>