<div class="content container-fluid">
  <div class="rank-holder">
    <div>
      <h2 class="color-green">Rank Up <i class="fa fa-trophy" aria-hidden="true"></i></h2>
      <p>To make your sales boost and to be on top of search list in your product segment which help you to reach
        interested potential customer.</p>
      <p>Join our marketing service with Rank up now.</p>
    </div>

    <div>
      <h4 class="rank-up-title">Benefits</h4>
      <ul class="lh-lg">
        <li><span>Boost Visibility : <br></span>Your product are shown on top of search list.</li>
        <li><span>Acquiring New Customers : <br></span>Interested potential customers will view your products.</li>
        <li><span>Increase Your Sales : <br></span>reaching the right customers will help you increase your sales.
        </li>
      </ul>
    </div>

    <div>
      <h4 class="rank-up-title">How to create an advertising campaign?</h4>
      <ul class="lh-lg">
        <li><span>Choose Your Product : <br></span>
          <ul>
            <li>Click on the <strong>Select Products</strong> button you want to promote for this Rank Up promotion</li>
          </ul>
        </li>
        <li><span>Select Budget : <br></span>
          <ul>
            <li>Allocate the advertising budget.</li>
            <li>Your advertising spends are dedicated later from your payout.</li>
            <li>Select the budget type.</li>
            <li><strong>Daily Budget</strong> is the maximum amount you want to spend on this campaign everyday.
            </li>
            <li><strong>Total Budget</strong> is the total amount you want to spend on this campaign.</li>
          </ul>
        </li>
        <li><span>Select Duration : <br></span>
          <ul>
            <li>Click on the <strong>Select Products</strong> Choose how long you want to run the advertising campaign.</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="text-center"><button class="btn btn-lg btn-success" type="button" (click)="createCampaign()">Create Your
        Campaign</button></div>
  </div>
</div>
<!-- <div class="content container-fluid">
    <div>
        <h2 class="color-green">Rank Up</h2>
        <p>To make your sales boost and to be on top of search list in your product segment which help you to
            reach interested potential customer.</p>
        <p>Join our marketing service with Rank up now.</p>
    </div>
    <div>
        <h4>Benefits</h4>
        <ul class="lh-lg">
            <li><span>Boost Visibility : <br></span>Your product are shown on top of search list.</li>
            <li><span>Acquiring New Customers : <br></span>Interested potential customers will view your products.</li>
            <li><span>Increase Your Sales : <br></span>reaching the right customers will help you increase your sales.
            </li>
        </ul>
    </div>
    <div>
        <h4>How to create an advertising campaign?</h4>
        <ol class="lh-lg">
            <li><span>Choose Your Product : <br></span>Click on the <strong>Select Products</strong> button you want to
                promote for this Rank Up promotion</li>
            <li><span>Select Budget : <br></span>
                <ul>
                    <li>Allocate the advertising budget.</li>
                    <li>Your advertising spends are dedicated later from your payout.</li>
                    <li>Select the budget type.</li>
                    <li><strong>Daily Budget</strong> is the maximum amount you want to spend on this campaign everyday.
                    </li>
                    <li><strong>Total Budget</strong> is the total amount you want to spend on this campaign.</li>
                </ul>
            </li>
            <li><span>Select Duration : <br></span>Choose how long you want to run the advertising campaign.</li>
        </ol>
    </div>
    <div class="text-center"><button class="btn btn-lg btn-success" type="button" (click)="createCampaign()">Create Your Campaign</button></div>
</div> -->
