:host {
    section {
        padding: 0px 16px 40px 16px;
        .search-section {
            padding-top: 10px;
        }
        mat-paginator {
            margin-bottom: 40px;
        }
        .success-color {
            color: var(--themeLightGreen);
        }
        .grey-color {
            color: var(--themeGrey);
        }
        .mat-subheading-2, .mat-subheading-1 {
            margin: 0px !important;
        }
    }
}