<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="center text-center">
                    <h1>Signup Page</h1>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                      <label  class="form-label">Name</label>
                      <input type="text" required formControlName="name" placeholder="Enter Name" class="form-control" >
                      <span class="text-danger" *ngIf="signupForm.controls['name'].dirty && signupForm.hasError('required', 'name')">*Name  is Required</span>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input type="email" required name="email" formControlName="email" placeholder="Enter Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                      <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.get('email')?.invalid">*Email Id is Required</span>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input type="password" formControlName="password" placeholder="Enter Your Password" class="form-control" id="exampleInputPassword1">
                      <span class="text-danger" *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">*Password is Required</span>
                    </div>
                    <button type="submit" [disabled]="!signupForm.valid" class="btn btn-success">SignUp</button>
                </form>
                <a routerLink="/login">Already Sigin? Login!</a>
            </div>
        </div>
    </div>
</div>