<div class="main container center text-center">
    <div class="mainBox shadow-lg p-4 rounded">
        <h3>Select Image For The Product Name name</h3>
        <div>
            <div class="dropZone" appDragDropListner>
                <div>
                    <input type="file" #fileDropRef class="fileDropRef" accept="image/*" />
                    <label for="fileDropRef" class="browseBtn">Upload Image</label>
                </div>
            </div>
            <div class="dropZone" appDragDropListner>
                <div>
                    <input type="file" #fileDropRef class="fileDropRef" accept="image/*" />
                    <label for="fileDropRef" class="browseBtn">Upload Image</label>
                </div>
            </div>
            <div class="dropZone" appDragDropListner>
                <div>
                    <input type="file" #fileDropRef class="fileDropRef" accept="image/*" />
                    <label for="fileDropRef" class="browseBtn">Upload Image</label>
                </div>
            </div>
            <div class="dropZone" appDragDropListner>
                <div>
                    <input type="file" #fileDropRef class="fileDropRef" accept="image/*" />
                    <label for="fileDropRef" class="browseBtn">Upload Image</label>
                </div>
            </div>
            <div class="d-grid gap-2 mt-3 roboto-400">
                <button type="button" class="btn btn-lg btn-success">Upload</button>
            </div>
        </div>
    </div>
</div>